Legal AI Assistant.json
{
  "name": "Legal AI Assistant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "05f971eb-6f1b-4d00-ad81-3e13db959f17",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -912,
        -224
      ],
      "id": "957bcffb-de66-4a98-a484-543e41a5fe94",
      "name": "Webhook",
      "webhookId": "05f971eb-6f1b-4d00-ad81-3e13db959f17"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=My Question: {{ $json.body.legalQuestion }}\nMy Country: {{ $json.body.country }}\n\nSearch The Web and Give me an answer to my question\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=*You are a legal AI Assistant. Please, Prefer official government websites when available.\nIf not available, provide the most reliable legal source.\n\n* please let the output to be in arabic language \n\n*  and give me a link and the sources of your answer \n\n* Please provide the URL on a new line starting with the word Source \n\n* You must return the answer in this exact JSON format:\n\n{\n  \"answer\": \"string\"\n}\n\nOnly return valid JSON.\nDo not add explanations outside JSON.\n\n* You MUST return ONLY a valid JSON object. No markdown. No explanation outside JSON.\nNo asterisks, no hashtags, no \\n characters in the answer.\nWrite the answer as plain flowing Arabic text.\n\nReturn exactly this structure:\n{\n  \"answer\": \"your plain text answer here\"\n}",
          "maxIterations": 200
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -512,
        -224
      ],
      "id": "1ac3b805-1478-4474-a055-67a6fef7e636",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "Legal Question ",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -528,
        32
      ],
      "id": "b6e6b8a9-4aac-449d-9e0e-5d7e5e469d9c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -704,
        16
      ],
      "id": "241b4015-8e5c-4735-91dc-a5cddbf16818",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "4s1aRhDUpkcYgP23",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -16,
        -224
      ],
      "id": "07fe9e0d-8426-40e4-b9bd-46e7db276797",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -368,
        32
      ],
      "id": "9a3bbc39-0e45-4b57-9ba2-81e60d106662",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "62BbxEwlbRaxCsgN",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"answer\": \"هذا هو الجواب القانوني بالنص العادي بدون تنسيق\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -224,
        16
      ],
      "id": "567f4d06-e138-4d4c-9f93-fb89655049c6",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7bb59aa3-e7b6-4ec3-bcf3-cf696dbf8c05",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1d52e26502ab362c0b60f91c6d37756d0d545fbe1c12904239c10acad5a587bd"
  },
  "id": "uXlM359EymJhGMEiYHsZ_",
  "tags": []
}